/*-----Prevents iPhone from resizing in portrait/landscape mode -----*/


/* html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
} Theese rules are include on line 14,15 of our normalize file and are only needed if using a normalize file where they are included!!!!*/


/*----------- apply a natural box layout model to all elements --------------*/

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/* body rules start------------- */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

header figure.logo {
    float: left;
    margin-top: 20px;
    padding: 0;
    margin-right: 20px
}

header {
    background-image: url("/images/header.jpg");
    background-repeat: no-repeat;
    /* background-color: rgb(238, 174, 91); */
    padding: 2rem 2%;
    height: 200px;
}

header h1 {
    font-family: 'Orbitron', sans-serif;
    position: relative;
    font-size: 2rem;
    top: 80px;
    color: rgb(160, 158, 158);
}

header h2 {
    font-family: 'Orbitron', sans-serif;
    color: rgb(160, 158, 158);
    display: none;
}

nav {
    background-color: rgba(52, 52, 52, 0.502);
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    font-family: 'Orbitron', sans-serif;
    /* capilizes first letter of nav items */
    text-transform: capitalize;
    /*remove dots from list items*/
    list-style-type: none;
}

nav li.active {
    background-color: #333;
}

nav a {
    display: block;
    /*44min height for touch*/
    padding: .8rem 0;
    color: #eee;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    background-color: #444;
}

main {
    font-family: 'Hind', sans-serif;
    font-size: 1.25rem;
    padding: 1rem 2%;
    /* for ie issues */
    display: block;
    background-color: rgb(240, 240, 240);
}

main h1 {
    font-family: 'Orbitron', sans-serif;
    color: rgb(160, 158, 158);
}

main figure img {
    width: 100%;
}

main figure {
    width: 100%;
    margin: 0;
    padding: 0;
}

main figcaption {
    text-align: center;
    font-size: .8rem;
}

main figure img.innerimage {
    width: 100%;
    margin: 0;
    padding-bottom: 3px;
    border-radius: 50%;
}

footer {
    font-family: 'Hind', sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(160, 158, 158);
    clear: both;
    padding: .4rem 2%;
}


/* fixes collapse of navbar on med,large screens.. must add class to nav elemnt in html */

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}