@media only screen and (min-width: 1140px) {
    h1 {
        color: rgb(19, 26, 124);
    }
}


/*end media query*/

p {
    color: rgb(72, 82, 90);
    font-size: 1.5em;
    font-family: Georgia, "Times New Roman", Times, serif;
}