@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Nunito+Sans:400,700&display=swap');
@media only screen and (min-width 35em) {
    .bottomh2 {
        color: white;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Nanum Brush Script', cursive;
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
    margin: auto;
    max-width: 75rem;
}

header {
    display: flex;
}

.sticky {
    position: fixed;
    top: 0;
}

#navbar {
    /* position: relative; */
    /* height: 30vh; */
    max-width: 75rem;
    /* border: 1px solid red; */
    display: flex;
    background-color: #8C95A6;
    opacity: .8;
    /* background-color: #E59676; */
    /* background-color: #03A2C6; */
    /* This moves the nav links to the right */
    justify-content: flex-end;
    justify-content: center;
}

ul {
    width: 90vw;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
    /* border-bottom: 1px solid #fff; */
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

li {
    display: flex;
    padding: 1em;
    margin: 1em;
}

li a {
    font-family: 'Nunito Sans', sans-serif;
    border: black 0px solid;
    border-radius: 45%;
    padding: 3px;
    color: black;
    text-decoration: none;
}

li a:hover {
    opacity: .6;
    color: white;
}

.name {
    font-family: 'Nanum Brush Script', cursive;
    /* font-family: 'Nunito Sans', sans-serif; */
    color: #03A2C6;
    /* text-transform: uppercase; */
    font-size: 2rem;
}

.name a {
    font-family: 'Nanum Brush Script', cursive;
}

#welcome-section {
    background-image: url(Group.png);
    background-color: rgb(5, 5, 5);
    background-size: contain;
    background-repeat: no-repeat;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: rgb(255, 255, 255);
    font-family: 'Nanum Brush Script', cursive;
    font-size: 1.5rem;
}

#welcome-section h3 {
    font-size: 2rem;
}

#welcome-section h1 {
    font-size: 3rem;
    padding-top: 80px;
    margin-bottom: 0;
}

.brackets {
    color: #03A2C6;
    font-size: 2rem;
    line-height: 1rem;
}


/* #welcome-section img {
    height: 500px;
} */

.hero {
    width: 100vw;
}

.project-image {
    width: 45vw;
}

#projects h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    background-color: #8C95A6;
    font-family: 'Nanum Brush Script', cursive;
}

.project-image {
    max-width: 550px;
    max-height: 300px;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #8C95A6;
}

#social {
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 50vh;
    background-color: #03A2C6;
}

#social h2 {
    font-size: 3rem;
}

.social-links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer {
    text-align: center;
    padding-top: 5px 5px;
    background-color: #03A2C6;
    border-top: 1px solid white;
}