.main-grid{
    gap: 10px;
    display: grid;
    grid-template-columns: repeat(3,minmax(200px, 300px));
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    
    /* align-items: end; */
}
.person-div:nth-child(odd){
    color: blue;
}
.main-grid div{
    display: grid;
    justify-items: center;
    height: 100%;
    /* border: 5px solid red; */
}
.main-grid img{
    display: grid;
    align-self: end;
    width: 100%;
    /* border: 5px solid red; */
}
.main-grid h1{
    max-width: 150px;
    /* white-space: nowrap; */
    /* border: 5px solid red; */
}