
body{
    background-color: rgb(116, 115, 115);
}
.main-grid{
    justify-items: center;
    margin: auto;
    width: 90vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.heading{
    text-align: center;
    /* background-color: white; */
    color: white;
    grid-column: 1/span 5;
}

.div-grid3{
    margin: auto;
     width: 90vw;
     gap: 20px;
     display: grid;
     /* grid-template-columns: repeat(3,minmax(200px, 400px)); */
     grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
     grid-auto-rows: minmax(100px, 1fr);
    grid-column: 1/span 1;
    /* grid-row: 2/span 1; */
     
     align-items: end;
 }
.div-grid2{
    margin: auto;
     width: 90vw;
     gap: 20px;
     display: grid;
     /* grid-template-columns: repeat(3,minmax(200px, 400px)); */
     grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
     grid-auto-rows: minmax(100px, 1fr);
    grid-column: 1/span 1;
    /* grid-row: 2/span 1; */
     
     align-items: end;
 }
.div-grid{
   margin: auto;
    width: 90vw;
    gap: 20px;
    display: grid;
    /* grid-template-columns: repeat(3,minmax(200px, 400px)); */
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    grid-auto-rows: minmax(100px, 1fr);
    grid-column: 1/span 1;
    
    /* align-items: end; */
}

.person-div{
    background-color: rgb(156, 201, 240);
    /* background-image: linear-gradient(to left top, #ffffff, #c8c8c8, #959595, #9ccdda, #abc1e9); */
}
.person-div{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.div-grid div{
    display: grid;
    justify-items: center;
    height: 100%;
    /* border: 5px solid red; */
}
.div-grid img{
    opacity: .7;
    border-radius: 30%;
    display: grid;
    align-self: end;
    width: 100%;
    /* border: 5px solid red; */
}
.div-grid h1{
    max-width: 150px;
    /* white-space: nowrap; */
    /* border: 5px solid red; */
}
.div-grid2 div{
    display: grid;
    justify-items: center;
    height: 100%;
    /* border: 5px solid red; */
}
.div-grid2 img{
    opacity: .7;
    border-radius: 30%;
    display: grid;
    align-self: end;
    width: 100%;
    /* border: 5px solid red; */
}
.div-grid2 h1{
    max-width: 150px;
    /* white-space: nowrap; */
    /* border: 5px solid red; */
}
.div-grid3 div{
    display: grid;
    justify-items: center;
    height: 100%;
    /* border: 5px solid red; */
}
.div-grid3 img{
    opacity: .7;
    border-radius: 30%;
    display: grid;
    align-self: end;
    width: 100%;
    /* border: 5px solid red; */
}
.div-grid3 h1{
    max-width: 150px;
    /* white-space: nowrap; */
    /* border: 5px solid red; */
}