html {
    color: rgb(0, 0, 0);
    margin: 0;
}
body{
    margin: auto;
    max-width: 1200px;
  background-color: black;
  background-image: url('http://www.script-tutorials.com/demos/360/images/stars.png')
   /* top center #000 */
}
.logo{
  padding: 0;
  margin: 0;
  width: 100%;
  height: 200px;
  background-image: url('/images/logo.jpg');
  background-repeat: no-repeat;
  background-size: 50%;
  background-position-y: -58px;
  background-position-x: 50%;
  background-color: black;

  position: center;

}
header {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  grid-template-columns: auto auto;
  /* background-image: url("/assets/star-wars-star-background-4.jpg"); */
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  
  grid-gap: 2rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  /* grid-template-columns: auto auto; */
  /* background-image: url("/assets/star-wars-star-background-4.jpg"); */
  padding: 1rem;
  }

  button {
    margin: 1rem;
    font-size: 1.5rem;
    background: #c2c2c2;
    background-image: -webkit-linear-gradient(top, #c2c2c2, #000000);
    background-image: -moz-linear-gradient(top, #c2c2c2, #000000);
    background-image: -ms-linear-gradient(top, #c2c2c2, #000000);
    background-image: -o-linear-gradient(top, #c2c2c2, #000000);
    background-image: linear-gradient(to bottom, #c2c2c2, #000000);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    text-shadow: 1px 1px 3px #666666;
    font-family: Arial;
    color: #000000;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  button:hover{
    cursor: pointer;
    background: #525252;
  background-image: -webkit-linear-gradient(top, #525252, #e0e0e0);
  background-image: -moz-linear-gradient(top, #525252, #e0e0e0);
  background-image: -ms-linear-gradient(top, #525252, #e0e0e0);
  background-image: -o-linear-gradient(top, #525252, #e0e0e0);
  background-image: linear-gradient(to bottom, #525252, #e0e0e0);
  text-decoration: none;
  }
 .person-div{ 
   display: none;
   border: 10px solid white;

 }
 h1, p{
   text-align: center;
   color: rgb(254, 254, 254);
 }
 .grid{
   margin: auto;
     width: 90vw;
     gap: 20px;
     display: grid;
     /* grid-template-columns: repeat(3,minmax(200px, 400px)); */
     grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
     grid-auto-rows: minmax(100px, 1fr);
    grid-column: 1/span 1;
  /* justify-content: center;
    margin: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; */
    /* grid-template-columns: repeat(auto-fill, minmax(120px, 300pxfr));
    grid-auto-rows: minmax(100px, 1fr); */
  /* background-color: rgb(73, 73, 73); */
}
.grid img{
  opacity: .9;
    border-radius: 30%;
    display: grid;
    align-self: end;
    width: 100%;
  width: 100%;
}
