body {
  background-image: url("https://picsum.photos/800?grayscale=3");
  background-size: cover;
}
.list-group-item:hover {
  background-color: #777;
  color: rgb(180, 180, 180);
}
.form-control:focus {
  color: red;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#main {
  max-width: 500px;
}
/* .btn-danger::before {
  content: "x";
  position: absolute;
  top: 10px;
  right: 25px;
} */
.edit {
  margin-right: 10px;
  display: none;
}
