header,
footer,
nav,
main {
    max-width: 75rem;
    margin: auto;
}

nav ul {
    padding-left: 2%;
}

nav li {
    width: auto;
}

nav a {
    padding: .5rem 1rem;
}

main figure {
    width: 100%;
    float: right;
}


/* newspaper columns from video lecture */

div.news {
    column-count: 3;
}


/* end media query */