nav li {
    width: inherit;
}

nav {
    margin: 0 10% 0 10%;
    display: flex;
    flex-direction: row;
}

main figure img.innerimage {
    width: 33%;
}


/* newspaper columns from video lecture */

div.news {
    column-count: 3;
}

@for $i from 1 through 12 {
    $w: ($i / 12) * 100%;
    .large-#{$i} {
        flex-basis: $w;
    }
}