@import url("https://fonts.googleapis.com/css?family=Wallpoet&display=swap");

body {
  font-family: "Wallpoet", cursive;
}
p {
  padding: 0;
}

button {
  color: white;
  background-color: black;
  border-radius: 25px;
  padding: 1rem;
  font-size: 1.2rem;
  margin: 1rem;
}
button:hover {
  color: black;
  background-color: white;
  cursor: pointer;
}
header {
  display: flex;
  background-image: url("/images/PokeHeader.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  align-items: flex-end;
  justify-content: center;
  background-color: blueviolet;
  background-color: rgb(125, 125, 125);
}
header h1 {
  animation-duration: 3s;
  animation-delay: 2s;
  animation-iteration-count: infinite;

  border-top: 5px solid black;
  bottom: 0;
}
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  outline: none;
}
main {
  display: flex;
  /* flex-direction: row-reverse; */

  /* grid-template-columns: 1fr; */
}

.left {
  height: 100%;
  overflow-y: auto;
  width: 50%;
  border-right: 1px solid #333;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap-reverse;
  flex-grow: 1;
  flex-basis: 1rem;
}
.left::after {
  z-index: -6;
  content: "Displays 28 random pokemon each reload";
  top: 530px;
  position: absolute;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.right {
  height: 100%;
  overflow-y: auto;
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 1rem;
}
.right::after {
  z-index: -6;

  content: "Displays selected # of random pokemon";
  top: 530px;
  position: absolute;
  font-size: 1.3rem;
  text-transform: capitalize;
}
.picDivs {
  width: 100%;
}

.charDivs {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
/* **************************************************************************
flip card styles start  */
.card {
  transition: all 0.1s ease-in;
}
.card:hover {
  transform: scale(1.3);
  border: 1px solid white;
}

.scene {
  transition: all 0.2s ease-in-out;
  width: 200px;
  height: 350px;
  margin: 40px 0;
  perspective: 600px;
  border: 1px solid white;
}

.card {
  -webkit-box-shadow: 14px 10px 9px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 14px 10px 9px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 14px 10px 9px -9px rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  /* border-top: 5px solid rgb(99, 99, 99); */
}

.card.is-flipped {
  transform: rotatey(200deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: bold;
  backface-visibility: hidden;
}

.card__face--front {
  background: rgb(125, 125, 125);
}
.card__face--front img {
  width: 90%;

  background: rgb(125, 125, 125);
}

.card__face--back {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #8a2be2;
  background-image: linear-gradient(rgba(212, 10, 219, 0.5), rgba(1, 1, 1, 0.5)),
    url("/images/pokelogo.png");

  background-size: 200px 200px;
  background-repeat: no-repeat;
  transform: rotateY(180deg);
}
.card__face--back img {
  padding-top: 100px;
  transform: rotateY(180deg);
  width: 50%;
  justify-self: flex-end;
}
/* **************************************************************************
flip card styles end  */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#value {
  width: 200px;
}
#value2 {
  width: 200px;
}
.modal-header {
  text-align: center;
  padding: 2px 16px;
  background-color: #414141;
  color: white;
}

.modal-body {
  text-align: center;
  padding: 2px 16px;
}

.modal-footer {
  text-align: center;
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
