body{
    display: grid;
    justify-self: center;
    justify-content: center;
    margin: auto;
    background-color: rgb(182, 182, 182);
    /* background-image: url(/images/senateHeader.png);
    background-repeat: no-repeat;
    background-position: center; */
    /* opacity: 0.1; */

    /* max-width: 1280px; */

}
.top{
    display: grid;
    justify-content: center;
    text-align: center;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,280px));
    gap: 2rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 6rem;
    /* background-color: blue; */
}
figure .img{
    width: 200px;
}
.result-styling{
    color: blue;
}